@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
}

h1, h2 {
  color: #333333;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  width: 20rem;
}

.actions {
  text-align: right;
}

.header {
  background-color: "#400CCC";
  padding-right: "79px";
  padding-left: "118px";
}

.logo {
  font-family: "Work Sans, sans-serif";
  font-weight: 600;
  color: "#FFFEFE";
  text-align: "left";
  text-decoration: "none";
}

.menuButton {
  font-family: "Open Sans, sans-serif";
  font-weight: 700;
  size: "18px";
  margin-left: "38px"
}

.toolbar {
  display: "flex";
  justify-content: "space-between";
}

.indexContainer {
  width: 80%;
  align-content: center;
  height: 70%;
  margin-top: 10%;
  margin-left: 10%
}

.filterSeries {
  display: "flex";
}



